{{- $cover := false -}}
{{- $autoCover := default $.Site.Params.autoCover false }}

{{- if index .Params "cover" -}}
  {{- if .Resources.GetMatch .Params.cover }}
    {{- $cover = (.Resources.GetMatch .Params.cover) -}}
  {{- end -}}
{{- else if $.Site.Params.AutoCover -}}
  {{- if (not .Params.Cover) -}}
    {{- if .Resources.GetMatch "cover.*" -}}
      {{- $cover = (.Resources.GetMatch "cover.*") -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{if $cover -}}
  <!-- Cover image found -->
  {{- $cover := $cover.Fit "600x400" -}}
  <img src="{{ $cover.RelPermalink }}"
    class="post-cover"
    alt="{{ .Title | plainify | default " " }}"
    title="{{ .Params.CoverCredit |plainify|default "Cover Image" }}" />
{{else}}
  {{- $cover := resources.Get (add "posts/static/" .Params.cover) -}}
  {{- $cover := $cover.Fit "600x400" -}}
{{- end }}
