{{ define "imports"}}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script> -->
{{ end }}


{{ define "main" }}
    <div class="pgp-container">
        <button id="pgpToggle">Show PGP Key</button>
        <pre id="pgpKey" class="hidden">
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        Comment: User-ID:	JurassikLizard
        Comment: Valid from:	10/2/2024 7:00 PM
        Comment: Valid until:	10/2/2027 12:00 PM
        Comment: Type:	255-bit EdDSA (secret key available)
        Comment: Usage:	Signing, Encryption, Certifying User-IDs
        Comment: Fingerprint:	B56FBC34166F0E8D3A4C6A7CCC3B935337250110
        
        
        mDMEZv3QjxYJKwYBBAHaRw8BAQdAeC6oeb9C/3B9smklt2+PgpyCe9e4+jsBnWGL
        /Fvfkym0Dkp1cmFzc2lrTGl6YXJkiJkEExYKAEEWIQS1b7w0Fm8OjTpManzMO5NT
        NyUBEAUCZv3QjwIbAwUJBaM38QULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAK
        CRDMO5NTNyUBEK0rAQCEqsv4SQPPN/QncZZXt+0KPdnZYoHjRk6BbRIVnoJnEgD+
        M6aa2UxXnC8kMeq3Y075JO0gfX6lC3xtKuIpr6C3YAy4OARm/dCPEgorBgEEAZdV
        AQUBAQdAltsthPiCYUhwf8jPK4yK4BDfw2FBUvQJt++yvHDaO1IDAQgHiH4EGBYK
        ACYWIQS1b7w0Fm8OjTpManzMO5NTNyUBEAUCZv3QjwIbDAUJBaM38QAKCRDMO5NT
        NyUBEDgHAP4yob3L70CyFjnpSM0S8dJ1rvYo1fc99oXm/4mzucZzvwD/QnItemWp
        aMyOFiK4h5FdyGkYZPdgFa4/4VUKypGcbAc=
        =8+xl
        -----END PGP PUBLIC KEY BLOCK-----
        </pre>
    </div>
{{ end }}